# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

OPENAI_API_KEY=""


EMAIL_PROVIDER="nodemailer"
EMAIL_FROM="noreply@yourdomain.com"
EMAIL_FROM_NAME="Blog Bowl"

SMTP_HOST=""
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""

ZEPTOMAIL_API_KEY=""
ZEPTOMAIL_BASE_URL="https://api.zeptomail.com/v1.1"


NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
